<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
    <ion-title>Nouveau-Article</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only">
        <ion-icon  name=""></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ajout-article</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
