<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
   <ion-list>
<!--     
    <ion-item  *ngFor="let categories of listescategories.liste_articles ">
      <ion-thumbnail slot="start">
        <img [src]="categories.image[0]" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{categories.titre}}</h2>
        <p>{{categories.description}}</p>
        <p slot="end">{{categories.prix}} FCFA</p>
        <p>
          <span *ngFor="let etoile of categories.etoile" >
        <ion-icon class="etoile_icon" name="star"></ion-icon>
        </span>
      </p>
      </ion-label>
    </ion-item> -->
   </ion-list>
</ion-content>
