<ion-header >
  <ion-toolbar color="primary" class="ion-padding">
    <img class="techshop" src="/assets/imgs/accueil/techshop.png" alt="" srcset="">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


<div>
  <img src="/assets/imgs/membre/membre_gif.gif" >
</div>


  <!-- DIENE THIAM -->
 <ion-card>
  <ion-card-header>
    <img src="/assets/imgs/membre/DIENE_THIAM.png" alt="" srcset="">
  </ion-card-header>
  <ion-card-title>
    <p>INE N01715620201</p>
  </ion-card-title>
 </ion-card>

 <!-- SIABATOU SANE -->
 <ion-card>
  <ion-card-header>
    <img src="/assets/imgs/membre/SIABATOU_SANE.png" alt="" srcset="">
  </ion-card-header>
  <ion-card-title>
    <p>INE N04163320202</p>
  </ion-card-title>
 </ion-card>

 <!-- TABARA DIA -->
 <ion-card>
  <ion-card-header>
    <img src="/assets/imgs/membre/TABARA_DIA.png" alt="" srcset="">
  </ion-card-header>
  <ion-card-title>
    <p>INE N03272120202</p>
  </ion-card-title>
 </ion-card>

</ion-content>
