<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar show-clear-button="always" clear-icon="trash-bin" style="margin-top:15px" placeholder="recherche article" slot="start" [debounce]="1000" (ionInput)="recherche($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-item *ngFor="let article of filteredList" (click)="gotodetails(article)">
    <ion-thumbnail slot="start">
      <img [src]="article.image[0]" />
    </ion-thumbnail>
    <ion-label>
      <h2>{{article.titre}}</h2>
      <p>{{article.description}}</p>
      <p slot="end" ><strong>{{article.prix}}</strong> FCFA</p>
    </ion-label>
  </ion-item>
</ion-content>
