<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-searchbar placeholder="recherche article" slot="start"></ion-searchbar>
      <ion-title>Liste Article</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
        </ion-button>
        <ion-badge>0</ion-badge>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">recherche</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
