<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>A_Propos</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content scrollY="false">
<div class="propos" >
 
  <div class="techshop">
   <h1>A Propos</h1>
   <p style="text-align: center;">Présentation de TechShop <br> Votre Destination pour les Produits Tech</p>

   <p><strong>Introduction </strong> <br> <br>
    Bienvenue sur TechShop, votre boutique en ligne ultime pour tout ce qui concerne la technologie. Nous sommes fiers de vous offrir une vaste gamme de produits technologiques, allant des ordinateurs aux appareils électroniques, en passant par les électroménagers et bien plus encore. Chez TechShop, nous sommes déterminés à fournir à nos clients les dernières innovations technologiques, alliant qualité, fiabilité et satisfaction.</p>

    <p><strong>Notre Mission  </strong> <br> <br>
      Chez TechShop, notre mission est de rendre la technologie accessible à tous. Nous croyons que chacun devrait avoir la possibilité de profiter des avantages de la technologie moderne, que ce soit pour le travail, les loisirs ou simplement pour rester connecté. Notre équipe s'engage à vous fournir des produits de haute qualité à des prix compétitifs, ainsi qu'un service client exceptionnel à chaque étape de votre parcours d'achat.</p>

    <p><strong>Nos Produits</strong></p>
    <ol >
      <li><b>Ordinateurs :</b> Des ordinateurs portables et de bureau de haute performance, adaptés à tous les besoins, que ce soit pour le travail, le jeu ou le divertissement.</li>
      <li><b>Électronique :</b> Des smartphones, tablettes, caméras, écouteurs et autres gadgets électroniques de premier plan, pour rester connecté et productif où que vous soyez.</li>
      <li><b>Électroménagers :</b> Des appareils électroménagers intelligents et efficaces, conçus pour simplifier votre vie quotidienne et rendre les tâches ménagères plus faciles et plus rapides.</li>
      <li><b>Accessoires :</b> Une sélection d'accessoires essentiels pour compléter votre expérience technologique, tels que des étuis de protection, des chargeurs, des câbles et bien plus encore.</li>
    </ol>

    <p><strong>Pourquoi Choisir TechShop ?</strong></p>

    <ol>
      <li><b>Qualité Garantie :</b> Nous sélectionnons soigneusement chaque produit pour garantir des normes de qualité élevées et une performance fiable.</li>
      <li><b>Large Sélection :</b> Avec une gamme étendue de produits technologiques, vous trouverez tout ce dont vous avez besoin en un seul endroit.</li>
      <li><b>Prix Compétitifs :</b> Nous proposons des prix compétitifs et des offres spéciales régulières pour vous offrir le meilleur rapport qualité-prix.</li>
      <li><b>Service Client Exceptionnel :</b> Notre équipe est là pour répondre à toutes vos questions et vous fournir une assistance personnalisée à tout moment.</li>
    </ol>

    <p><strong>Comment Nous Trouver </strong> <br> <br>
      Vous pouvez accéder à notre boutique en ligne TechShop depuis n'importe quel appareil connecté à Internet. Explorez notre catalogue, passez votre commande en toute simplicité et profitez d'une livraison rapide et sécurisée directement à votre porte. <br>
      <br>
      Chez TechShop, nous sommes passionnés par la technologie et déterminés à vous offrir une expérience d'achat exceptionnelle à chaque fois. Rejoignez-nous dès aujourd'hui et découvrez le futur de la echnologie avec TechShop.
    </p>
    
    <div class="contact">
      <p> © www.Techshop.sn 2023-2024 Diéne Thiam (785815782)</p><br>
      <p>E-mail  thiammouhamet7@gmail.com</p>
   
    </div>
   
  </div>


</div>
</ion-content>
