@import url('https://fonts.cdnfonts.com/css/torus-notched');
.propos{
     background-image: url('/assets/imgs/logo.png');
     background-size: cover;
     background-position: center;
     height: 100vh;
     position: absolute;
     font-family: 'Torus Notched';
     letter-spacing: 2px;
     overflow-y: scroll;
    
}

.techshop{
    background-color: rgba(0, 0, 0, 0.622);
    color:white;
    padding: 30px 30px 200px 30px;

   li{
    margin-top: 10px;
    text-align: left;
   }

   h1{
    color: #ffa500;
    text-align: center;
   }
   p{
    color:white;
    margin: 30px 0;
    text-align: left;
   
   }
   strong{
    color: #ffa500;
   }


     }

  


.contact{
    background-color: #ffa6005f;
    margin: 0 auto;
    border-radius:10px ;
    padding: 10px;
    p{
        margin: 10px;
        text-align: center;
}
}


