<ion-header slot="fixed">
      <ion-toolbar>
        <ion-title class="ion-text-center">Listes Article</ion-title>
        <ion-menu-button  menu="main-menu" slot="start" fill="clear">
          <ion-icon  md="list-sharp" ios="list-outline"></ion-icon>
       </ion-menu-button>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
          <ion-badge>0</ion-badge>
        </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content fullscreen={true}  class="ion-padding">
        <ion-list>
          <!-- Entete -->
          <ion-list-header>
            <ion-label>
              Categorie Sport
            </ion-label>
          </ion-list-header>
          <ion-item  *ngFor="let article of listArticles" (click)="gotodetails(article)">
            <ion-thumbnail slot="start">
              <img [src]="article.image[0]" />
            </ion-thumbnail>
            <ion-label>
              <h2>{{article.titre}}</h2>
              <p>{{article.description}}</p>
              <p slot="end">{{article.prix}} XOF</p>
              <p>
                <span *ngFor="let etoile of article.etoile" >
              <ion-icon class="etoile_icon" name="star"></ion-icon>
              </span>
            </p>
            </ion-label>
          </ion-item>
          </ion-list>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer> -->
