/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.etoile_icon{
    color:rgba(255, 208, 0, 0.767)
  }

  ion-content::part(background) {
    background: rgb(255, 255, 255);
    overflow-y: none !important;
  }
  
  // ion-content::part(scroll) {
  //   color: #c4290e;
    
  // }

  // ion-toolbar::part(background) {
  //   background: #104110f5;
  // }

  // .contenu{
  //   height: 90%;
  //   width : 100%;
  // }
 
  .home_btn{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }


  
.ios component-segment ion-header ion-segment {
  left: -30px;
}

component-segment ion-content ion-segment {
  margin: 10px auto;
}

.blocvideo{
  padding: 10px;
  display: flex;
  align-content: center;
  background-color:rgba(255, 166, 0, 0.473);
  justify-content: space-between;
  height: 17%;
  margin: 10px 0;
  box-shadow: 0px 0px 0px 0px;

 
}



.blocvideo swiper-container{
  width: 22%;
  // width: 100px;
  height:100%;
  // margin:  5px 0px;
  
}



  .home_bar{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
  }

.blocategorie {

display: flex;
background-color: rgba(0, 0, 0, 0.63);
height: 17%;
}
  .contenu_smarphone{
    
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
   
    
  }
  .listcategorie{
   margin: 0px;
   border-radius: 0px;
    
  }

  .smarphone{
    text-align: center;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 15px;
    
  }

  .smarphone img{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px;
  }

  .smarphone p{
    font-size: 12px;
    padding:0 5px;
    
    
  }

  .smarphone #prix{
    font-size: 13px;
    font-weight: bold;
   
  }
  #card2{
    background-color: rgba(255, 255, 255, 0);
    margin:0px;
    border-radius: 0px;
    padding: 10px;

  }

  #card2 swiper-container{
   
    width: 100%;
    
  }

  ion-toast.custom-toast {
    --background: #f4f4fa;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
  }
  
  ion-toast.custom-toast::part(message) {
    font-style: italic;
  }
  
  ion-toast.custom-toast::part(button) {
    border-left: 1px solid #d2d2d2;
    color: #030207;
    font-size: 15px;
  }