/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.etoile_icon{
    color:rgba(255, 208, 0, 0.767)
  }

  ion-content::part(background) {
    background: rgb(255, 255, 255);
    overflow-y: none !important;
  }
  
  // ion-content::part(scroll) {
  //   color: #c4290e;
    
  // }

  // ion-toolbar::part(background) {
  //   background: #104110f5;
  // }

  // .contenu{
  //   height: 90%;
  //   width : 100%;
  // }



 
  .home_btn{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }


  
.ios component-segment ion-header ion-segment {
  left: -30px;
}

component-segment ion-content ion-segment {
  margin: 10px auto;
}

.blocvideo{
  padding: 10px;
  display: flex;
  align-content: center;
  background-color:#00BF63;
  justify-content: space-between;
  height: 17%;
  object-fit: cover;
  overflow-x: hidden;
  gap: 10px;
  margin: 10px 0;
  box-shadow: 0px 0px 0px 0px;

 
}



.blocvideo swiper-container{
  width: 22%;
  // width: 100px;
  height:100%;
 
  
}



  .home_bar{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 10px;
    // background-color: #00BF63;
  }

.blocategorie {

display: flex;
background-color: rgba(0, 0, 0, 0.63);
height: 17%;
}
  .contenu_medoc{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;
    gap: 25px 20px;
   
    
  }
  .listcategorie{
   margin: 0px;
   display: flex;
   background-color: white;
   border-radius: 0px;
   padding: 25px 5px;
    
  }

  .medoc{
    text-align: center;
    width: 115;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 5px;
    background-color: #00bf6308 ;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.018);
    border-radius: 3px;
  

  }

  .medoc img{
    width: 70%;
    height: 55%;
    object-fit: cover;
   
  }

  .medoc p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.727);
    width: 100%;
    margin-bottom: 5px;
    
  }

 
  #card2{
    background-color: rgba(255, 255, 255, 0);
    margin:0px;
    border-radius: 0px;
    padding: 10px;

  }

  #card2 swiper-container{
   
    width: 100%;
    
  }

  #prix {
   width: 150px;
   margin: 0 auto;

    font-size: 10px;
    font-weight: bold;
     padding: 7px ;
    background-color: #00BF63;
    border-radius: 5px;
    color: white;
  }

  // screen desktop

  @media  screen and (min-width:800px) {
    


    .blocvideo{
      padding: 10px;
      display: flex;
      align-content: center;
      background-color:#00BF63;
      justify-content: space-between;
      height: 25%;
      object-fit: cover;
      overflow-x: hidden;
      gap: 10px;
      margin: 10px 0;
      box-shadow: 0px 0px 0px 0px;
    
     
    }

    
.blocvideo swiper-container{
  width: 12%;
  // width: 100px;
  height:100%;
 
  
}

.blocategorie {

  display: flex;
  background-color: rgba(0, 0, 0, 0.63);
  height: 17%;
  }
    .contenu_medoc{
      
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      // align-items: center;
      justify-content: center;
      gap: 80px ;
     
      padding: 30px;
     
      
    }
    .listcategorie{
     margin: 0px;
     display: flex;
     background-color: white;
     border-radius: 0px;
     padding: 25px 10px;
      
    }
  
    .medoc{
      text-align: center;
      width: 320px;
      height: 450px;
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.164);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      gap: 15px;
     
    
    }
  
    .medoc img{
      width: 90%;
      height: 60%;
      object-fit: cover;
     
    }
  
    .medoc p{
      font-size: 20px;
      padding:0 5px;
      color: rgba(0, 0, 0, 0.727);
      
      
    }
    
    #prix {
      display: block;
      width: 200px;
      margin: 0 auto;
      font-size: 22px;
      font-weight: bold;
       padding: 15px ;
      background-color: #00BF63;
      border-radius: 20px;
      color: white;
    }
  }