<ion-header slot="fixed" >
      <ion-toolbar color="primary">
        <ion-menu-button  menu="main-menu" slot="start" fill="clear" color="light">
          <ion-icon  md="list-sharp" ios="list-outline"></ion-icon>
       </ion-menu-button>
        <ion-title>TechShop</ion-title>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
          </ion-button>
          <ion-badge>0</ion-badge>
        </ion-buttons>
       </ion-toolbar>
    </ion-header>


    <ion-content>
      <!-- permet l'actualisation de cette page -->
      <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
    

    <ion-card class="blocvideo"  scrollable="true" >
      
                <swiper-container  [autoplay]="1000"
                [loop]="true">
                  <swiper-slide>
                  <video [autoplay]="1000" [loop]="true"  class="home_bar" src="/assets/imgs/accueil/accueilgif.mp4"></video>
              </swiper-slide>
                  <swiper-slide  >             
                  <video [autoplay]="1000" [loop]="true"  class="home_bar" src="/assets/imgs/accueil/accueilgif.mp4"></video>        
               </swiper-slide>
              </swiper-container>
                <swiper-container  [autoplay]="1000"
                [loop]="true">
                  <swiper-slide >
                <img class="home_bar" src="/assets/imgs/Smarphone/Samsung-A14/Samsung_A14_pp.jpg" alt="" srcset="">
              </swiper-slide>
                  <swiper-slide  >         
                 <img class="home_bar" src="/assets/imgs/Smarphone/Samsung-A04e/Samsung-A04e-pp.jpg" alt="" srcset="">
              </swiper-slide>
              </swiper-container>
                <swiper-container  [autoplay]="1000"
                [loop]="true">
                  <swiper-slide >
                 <img class="home_bar" src="/assets/imgs/Smarphone/Samsung-A04e/Samsung-A04e-05.jpg" alt="" srcset="">
              </swiper-slide>
                  <swiper-slide  >
                 <img class="home_bar" src="/assets/imgs/Électronique/SoundView/Soundview2.jpg" alt="" srcset="">
              </swiper-slide>
              </swiper-container>
                <swiper-container  [autoplay]="1000"
                [loop]="true">
                  <swiper-slide >
                 <img class="home_bar" src="/assets/imgs/Électronique/Generique-ampoule-camera/Ampoule-camera.jpg" alt="" srcset="">
              </swiper-slide>
                  <swiper-slide  >
                 <img class="home_bar" src="/assets/imgs/Électronique/Tecno-speacker/Tecno-speaker.jpg" alt="" srcset="">
              </swiper-slide>
              </swiper-container>
        </ion-card >

        <ion-item-divider color="primary" >
          Nos articles disponibles
        </ion-item-divider>

        <ion-card class="listcategorie">
          <div ion-content class="contenu_smarphone" >
            <div class="smarphone" *ngFor="let article of listArticles" (click)="gotodetails(article)">
              <img [src]="article.image[0]" alt="" srcset="">
              <p>{{article.titre}}</p>
              <p color="primary" id="prix">{{article.prix}} FCFA </p>
            </div>
           </div>
        </ion-card>

           <ion-item-divider color="success" >
            En Promo 24H/24
          </ion-item-divider>

          <ion-card class="blocvideo"  scrollable="true" id="card2">
            <swiper-container  [autoplay]="1500" 
            [loop]="true">
              <swiper-slide>
              <video [autoplay]="1500" [loop]="true"  class="home_bar" src="/assets/imgs/accueil/EnPromo.mp4"></video>
          </swiper-slide>
              <swiper-slide  >
              <video [autoplay]="1500" [loop]="true"  class="home_bar" src="/assets/imgs/accueil/EnPromo.mp4"></video>
          </swiper-slide>
          </swiper-container>
          
      </ion-card >

    </ion-content>

 