

.image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin: 0 5px;
}
ion-content::part(background) {
    background: --color-primary;
  }
  
  ion-content::part(scroll) {
    color: #fff;
  }
  
swiper-container{
  --swiper-pagination-bullet-inactice-color:dark
  --swiper-pagination-color: #d33d0f5d;
  margin: 5px;
}

  #prix{
    font-size: 14px;
    font-weight: bold;
    color:orange;
  }


  ion-toast.custom-toast {
    --background: #f4f4fa;
    --box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
    --color: #4b4a50;
  }
  
  ion-toast.custom-toast::part(message) {
    font-style: italic;
  }
  
  ion-toast.custom-toast::part(button) {
    border-left: 1px solid #d2d2d2;
    color: #030207;
    font-size: 15px;
  }